#standing {
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#standing thead tr {
  background-color: rgba(0, 152, 121, 0.4);
  color: black;
  text-align: left;
}

#standing th,
#standing td {
    padding: 12px 15px;
    border-left: 1px solid rgba(0, 152, 121, 0.4);
    border-right: 1px solid rgba(0, 152, 121, 0.4);
}

#standing tbody tr {
  border-bottom: 1px solid #dddddd;
}

#standing tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#standing tbody tr:last-of-type {
  border-bottom: 2px solid rgba(0, 152, 121, 0.4);
}

#standing tbody tr:hover {
  color: rgba(0, 152, 121, 0.4);
}

#standing img{
  width: 50px;
  height: auto;
}
